# Default owner
* @hallida

# Component ownership
/runtime/ @hallida
/sdk/ @hallida
/apps/desktop/ @hallida
/nimi-mods/ @hallida
/proto/ @hallida
/docs/ @hallida
/apps/web/ @hallida
/.github/ @hallida
